body {
  margin: 0;
  padding: 0;
  background-color: #141B41;
  color: #98B9F2;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  text-decoration: none;
  color: #F03A47;
}

a:hover {
  text-decoration: underline;
}


table {
  text-align: left;
  color: #fff;
}

td, th {
  padding: 5px;
}

.textResults {
  color: #fff;
  text-align: left;
  padding: 5px;
}
